[submodule "common"]
	path = common
	url = https://github.com/fiveages-sim/robot-descriptions-common
	branch = main
[submodule "manipulator/Dobot"]
	path = manipulator/Dobot
	url = git@github.com:fiveages-sim/robot-descriptions-dobot.git
	branch = main
[submodule "manipulator/Tianji"]
	path = manipulator/Tianji
	url = git@github.com:fiveages-sim/robot-descriptions-tianji.git
	branch = main
[submodule "manipulator/Rokae"]
	path = manipulator/Rokae
	url = git@github.com:fiveages-sim/robot-descriptions-rokae.git
	branch = main
[submodule "humanoid/FiveAges/fiveages_w1_description"]
	path = humanoid/FiveAges/fiveages_w1_description
	url = git@github.com:fiveages-sim/fa-w1-description.git
	branch = main
