<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ChangingTekSystem" params="hardware type:=AG2F90-C">

    <!-- 根据type参数决定使用哪种夹爪 -->
    <xacro:if value="${type == 'AG2F90-C'}">
      <xacro:include filename="$(find changingtek_description)/xacro/AG2F90-C.xacro"/>
      <xacro:AG2F90-C name=""/>
      <xacro:include filename="$(find changingtek_description)/xacro/ros2_control/2f.ros2_control.xacro"/>
      <xacro:changingtek_2f_system name="AG2F90_C_System" hardware="${hardware}"/>
    </xacro:if>

    <xacro:if value="${type == 'AG2F120S'}">
      <xacro:include filename="$(find changingtek_description)/xacro/AG2F120S.xacro"/>
      <xacro:AG2F120S name=""/>
      <xacro:include filename="$(find changingtek_description)/xacro/ros2_control/2f.ros2_control.xacro"/>
      <xacro:changingtek_2f_system name="AG2F120S_System" hardware="${hardware}"/>
    </xacro:if>


  </xacro:macro>
</robot>
