<?xml version="1.0"?>

<robot name="Robotiq_$(arg type)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="type" default="85"/>

  <!-- 根据type参数决定使用哪种夹爪 -->
  <xacro:if value="${'$(arg type)' == '85'}">
    <xacro:include filename="$(find robotiq_description)/xacro/2F85.xacro"/>
    <xacro:Robotiq85 name=""/>
  </xacro:if>
</robot>
