<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotiq_2f_system" params="name hardware">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${hardware == 'gz'}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:if value="${hardware == 'mock_components'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:if value="${hardware == 'isaac'}">
          <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
          <param name="joint_commands_topic">/isaac/joint_command</param>
          <param name="joint_states_topic">/isaac/joint_states</param>
        </xacro:if>
      </hardware>

      <joint name="gripper_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>