<?xml version="1.0"?>

<robot name="DobotCR5" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="type" default="empty"/>

	<!-- 根据type参数决定使用哪种夹爪 -->
	<xacro:if value="${'$(arg type)' == 'robotiq85'}">
		<xacro:include filename="$(find robotiq_description)/xacro/2F85.xacro"/>
		<xacro:Robotiq85 name=""/>
		<joint name="gripper_fix" type="fixed">
			<parent link="Link6"/>
			<child link="gripper_base"/>
		</joint>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'AG2F90-C'}">
		<xacro:include filename="$(find changingtek_description)/xacro/AG2F90-C.xacro"/>
		<xacro:AG2F90-C name="" use_flange="true"/>
		<joint name="gripper_fix" type="fixed">
			<parent link="Link6"/>
			<child link="flange"/>
			<origin rpy="0 0 ${PI/2}"/>
		</joint>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'AG2F90-C-Soft'}">
		<xacro:include filename="$(find changingtek_description)/xacro/AG2F90-C.xacro"/>
		<xacro:AG2F90-C name="" use_flange="true" pad="soft"/>
		<joint name="gripper_fix" type="fixed">
			<parent link="Link6"/>
			<child link="flange"/>
			<origin rpy="0 0 ${PI/2}"/>
		</joint>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'AG2F120S'}">
		<xacro:include filename="$(find changingtek_description)/xacro/AG2F120S.xacro"/>
		<xacro:AG2F120S name=""/>
		<joint name="gripper_fix" type="fixed">
			<parent link="Link6"/>
			<child link="gripper_base"/>
		</joint>
	</xacro:if>
</robot>
