<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="BrainCoHand" params="name direction:=1 use_flange:=false fixed_joints:=false">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>
		<xacro:property name="joint_type" value="${fixed_joints and 'fixed' or 'revolute'}"/>

		<xacro:if value="${use_flange}">
			<link name="${prefix}flange">
				<inertial>
					<origin xyz="-0.00283400 0 0.00000145" rpy="0 0 0"/>
					<mass value="0.02280635"/>
					<inertia ixx="0.00000768" ixy="0.00000000" ixz="0.00000000" iyy="0.00000580" iyz="-0.00000000" izz="0.00000427"/>
				</inertial>
				<visual>
					<geometry>
						<mesh filename="file://$(find brainco_description)/meshes/revo2/flange.obj"/>
					</geometry>
				</visual>
				<collision>
					<geometry>
						<mesh filename="file://$(find brainco_description)/meshes/revo2/flange.obj"/>
					</geometry>
				</collision>
			</link>
			<joint name="${prefix}flange_joint" type="fixed">
				<origin xyz="0.0176 0 0" rpy="${direction*-1.570796326} 0 ${direction*-1.570796326}"/>
				<parent link="${prefix}flange"/>
				<child link="${prefix}hand_base"/>
			</joint>
		</xacro:if>

		<link name="${prefix}hand_base">
			<inertial>
				<origin xyz="-0.00478670623240344 ${direction*0.00141981128680179} 0.0505239077176535"/>
				<mass value="0.238"/>
				<inertia ixx="2.2266510056133E-05" ixy="${direction*-2.6318583761649E-07}" ixz="1.83638592892823E-07"
				         iyy="1.55367220548952E-05" iyz="${direction*1.26586485241028E-06}" izz="8.58669326263691E-06"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/base_link.obj" scale="1 ${direction} 1"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/base_link.obj" scale="1 ${direction} 1"/>
				</geometry>
			</collision>
		</link>

		<!-- ========================================== -->
		<!-- 拇指部分 (Thumb) -->
		<!-- ========================================== -->
		<link name="${prefix}thumb_metacarpal_Link">
			<inertial>
				<origin xyz="${direction*1.52303696287007E-05} ${direction*-0.00707240283482268} ${direction*-0.00420839832903629}"/>
				<mass value="0.01"/>
				<inertia ixx="1.59238866130872E-07" ixy="4.69114607598504E-09" ixz="4.93233725002146E-10"
				         iyy="1.60911967461755E-07" iyz="1.48144948560702E-08" izz="5.13544258620214E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/thumb_metacarpal.obj" scale="${direction} ${direction} ${direction}"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/thumb_metacarpal.obj" scale="${direction} ${direction} ${direction}"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_metacarpal_joint" type="${joint_type}">
			<origin xyz="${direction == 1 and 0.0045 or 0.005619} ${direction == 1 and -0.019 or 0.019867} 0.027825"
				  rpy="${1.5708 - direction * 1.5708} 0 ${direction == 1 and 0.16787 or 2.9637}"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}thumb_metacarpal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 0 1"/>
				<limit lower="0" upper="1.5184" effort="0.5" velocity="2.6175"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_proximal_Link">
			<inertial>
				<origin xyz="3.41001513141231E-07 0.0250090688174992 -0.0017505675193664"/>
				<mass value="0.05"/>
				<inertia ixx="3.23318665954068E-06" ixy="1.54514148596387E-10" ixz="-1.24375216968143E-11"
				         iyy="5.64488567432875E-07" iyz="5.04309083812214E-08" izz="3.39928573090826E-06"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/thumb_proximal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/thumb_proximal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_proximal_joint" type="${joint_type}">
			<origin xyz="0 ${direction*-0.014227} 0"
				  rpy="${direction == 1 and 0.17488 or -2.9667} -0.23736 2.9737"/>
			<parent link="${prefix}thumb_metacarpal_Link"/>
			<child link="${prefix}thumb_proximal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="1 0 0"/>
				<limit lower="0" upper="1.0472" effort="1.1" velocity="2.5303"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_distal_Link">
			<inertial>
				<origin
						xyz="-1.65618684180163E-07 0.0117550891981017 1.1366609064185E-05"
						/>
				<mass
						value="0.01"/>
				<inertia ixx="1.6780928553031E-07" ixy="1.91856562375255E-11" ixz="-2.694752026736E-12"
				         iyy="1.15357239984326E-07" iyz="1.25182560702848E-08" izz="2.1956615213811E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/thumb_distal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/thumb_distal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}thumb_distal_joint" type="${joint_type}">
			<origin xyz="0 0.052 0"/>
			<parent link="${prefix}thumb_proximal_Link"/>
			<child link="${prefix}thumb_distal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="1 0 0"/>
				<limit lower="0" upper="1.0472" effort="1.1" velocity="2.5303"/>
				<mimic joint="${prefix}thumb_proximal_joint" multiplier="1" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}thumb_tip_Link">
			<inertial>
				<origin xyz="-4.85722573273506E-17 -4.16333634234434E-17 -3.46944695195361E-18"/>
				<mass value="0.001"/>
				<inertia
						ixx="1.63624617374468E-15"
						ixy="0"
						ixz="0"
						iyy="1.63624617374468E-15"
						iyz="3.85185988877447E-33"
						izz="1.63624617374468E-15"/>
			</inertial>
		</link>

		<joint name="${prefix}thumb_tip_joint" type="${joint_type}">
			<origin xyz="0 0.026528781163583 -0.00177344281307927"
				  rpy="${direction == 1 and 0.0667504507189052 or -0.06675} 0 ${direction == 1 and 3.14159265358979 or 0}"/>
			<parent link="${prefix}thumb_distal_Link"/>
			<child link="${prefix}thumb_tip_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="-1 0 0"/>
				<limit lower="0" upper="0" effort="0" velocity="0"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 食指部分 (Index Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}index_proximal_Link">
			<inertial>
				<origin
						xyz="-0.002235387426012 -3.80544615179342E-06 0.0176439423080373"
						/>
				<mass
						value="0.009"/>
				<inertia
						ixx="2.51863526940901E-07"
						ixy="-3.10934654014177E-11"
						ixz="-6.36901300651624E-09"
						iyy="2.36343210839019E-07"
						iyz="-1.71663811116817E-10"
						izz="9.30397543724724E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/index_proximal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/index_proximal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}index_proximal_joint" type="${joint_type}">
			<origin xyz="-0.0021349 ${direction*-0.029578} 0.080876"
				  rpy="${direction*0.11819} 0.14743 ${direction*0.17422}"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}index_proximal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.4661" effort="2" velocity="2.2685"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}index_distal_Link">
			<inertial>
				<origin xyz="0.00418325886379583 -8.45607972810303E-08 0.0153641608762859"/>
				<mass value="0.009"/>
				<inertia
						ixx="3.65266271559531E-07"
						ixy="5.6892108332606E-13"
						ixz="-1.02335061442931E-07"
						iyy="3.96961530855654E-07"
						iyz="7.73961385851005E-13"
						izz="1.04991723103838E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/index_distal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/index_distal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}index_distal_joint" type="${joint_type}">
			<origin xyz="0 0 0.032"/>
			<parent link="${prefix}index_proximal_Link"/>
			<child link="${prefix}index_distal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.693" effort="2" velocity="2.2685"/>
				<mimic joint="${prefix}index_proximal_joint" multiplier="1.155" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}index_tip_Link">
			<inertial>
				<origin
						xyz="6.69832245225876E-13 9.73495589695617E-12 2.23557283796083E-13"
						/>
				<mass
						value="0.001"/>
				<inertia
						ixx="1.63624617374468E-15"
						ixy="6.16297582203915E-32"
						ixz="0"
						iyy="1.63624617374468E-15"
						iyz="2.46519032881566E-32"
						izz="1.63624617374468E-15"/>
			</inertial>
		</link>

		<joint name="${prefix}index_tip_joint" type="${joint_type}">
			<origin xyz="0.011097 0 0.035739" rpy="0 0.48723 0"/>
			<parent link="${prefix}index_distal_Link"/>
			<child link="${prefix}index_tip_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="1" upper="1" effort="1" velocity="1"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 中指部分 (Middle Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}middle_proximal_Link">
			<inertial>
				<origin
						xyz="-0.00222419445309931 -3.61990820813615E-06 0.0203049526045434"
						/>
				<mass
						value="0.009"/>
				<inertia
						ixx="3.66885320718611E-07"
						ixy="-3.64303343703497E-11"
						ixz="-9.77995332041374E-09"
						iyy="3.5252138716754E-07"
						iyz="-2.5809821190624E-10"
						izz="1.12242284171831E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/middle_proximal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/middle_proximal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}middle_proximal_joint" type="${joint_type}">
			<origin xyz="-0.0045935 ${direction*-0.010061} 0.084993"
				  rpy="${direction*0.039468} 0.1483 ${direction*0.057975}"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}middle_proximal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.4661" effort="2" velocity="2.2685"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}middle_distal_Link">
			<inertial>
				<origin xyz="0.00269750139301865 3.27210103736979E-07 0.0183076461156786"/>
				<mass value="0.009"/>
				<inertia
						ixx="5.88341898887764E-07"
						ixy="-1.34073376318216E-12"
						ixz="-1.04743131832206E-07"
						iyy="6.07118927271625E-07"
						iyz="-1.31817421243194E-11"
						izz="1.11265454837883E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/middle_distal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/middle_distal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}middle_distal_joint" type="${joint_type}">
			<origin xyz="0 0 0.037" rpy="0 0.12654 0"/>
			<parent link="${prefix}middle_proximal_Link"/>
			<child link="${prefix}middle_distal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.693" effort="2" velocity="2.2685"/>
				<mimic joint="${prefix}middle_proximal_joint" multiplier="1.155" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}middle_tip_Link">
			<inertial>
				<origin
						xyz="3.12250225675825E-16 -1.90819582357449E-17 5.55111512312578E-17"
						/>
				<mass
						value="0.001"/>
				<inertia
						ixx="1.63624617374468E-15"
						ixy="0"
						ixz="-4.93038065763132E-32"
						iyy="1.63624617374468E-15"
						iyz="9.24446373305873E-33"
						izz="1.63624617374468E-15"/>
			</inertial>
		</link>

		<joint name="${prefix}middle_tip_joint" type="${joint_type}">
			<origin xyz="0.0073534 0 0.041703" rpy="0 0.34907 0"/>
			<parent link="${prefix}middle_distal_Link"/>
			<child link="${prefix}middle_tip_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="1" upper="1" effort="1" velocity="1"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 无名指部分 (Ring Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}ring_proximal_Link">
			<inertial>
				<origin
						xyz="-0.00234461360118865 -5.32058096490429E-06 0.0191785931520923"
						/>
				<mass
						value="0.009"/>
				<inertia
						ixx="3.1418221085363E-07"
						ixy="-3.44825864493742E-11"
						ixz="-7.78011903077359E-09"
						iyy="2.97623388067888E-07"
						iyz="-2.45023710126388E-10"
						izz="1.02120946203075E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/ring_proximal.obj"/>
				</geometry>
				<material
						name="">
					<color
							rgba="1 1 1 1"/>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/ring_proximal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}ring_proximal_joint" type="${joint_type}">
			<origin xyz="-0.00468767815858587 ${direction*0.0100262714211602} 0.0839819548795939"
				  rpy="${direction*-0.0394618478609065} 0.147209177132223 ${direction*-0.0579317909005277}"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}ring_proximal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.4661" effort="2" velocity="2.2685"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}ring_distal_Link">
			<inertial>
				<origin
						xyz="0.00249839540877306 -2.78996376279483E-08 0.0177055538603162"
						/>
				<mass
						value="0.009"/>
				<inertia
						ixx="5.40369389752843E-07"
						ixy="-3.16120850919061E-12"
						ixz="-9.71738751449028E-08"
						iyy="5.56818359755755E-07"
						iyz="-5.08675656941986E-12"
						izz="1.03096676549004E-07"/>
			</inertial>
			<visual>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/ring_distal.obj"/>
				</geometry>
				<material
						name="">
					<color
							rgba="1 1 1 1"/>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/ring_distal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}ring_distal_joint" type="${joint_type}">
			<origin xyz="0 0 0.035" rpy="0 0.12654 0"/>
			<parent link="${prefix}ring_proximal_Link"/>
			<child link="${prefix}ring_distal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.693" effort="2" velocity="2.2685"/>
				<mimic joint="${prefix}ring_proximal_joint" multiplier="1.155" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}ring_tip_Link">
			<inertial>
				<origin
						xyz="3.05311331771918E-16 3.46944695195361E-17 2.77555756156289E-17"
						/>
				<mass
						value="0.001"/>
				<inertia
						ixx="1.63624617374468E-15"
						ixy="-1.23259516440783E-32"
						ixz="0"
						iyy="1.63624617374468E-15"
						iyz="0"
						izz="1.63624617374468E-15"/>
			</inertial>
		</link>

		<joint name="${prefix}ring_tip_joint" type="${joint_type}">
			<origin xyz="0.0071824 0 0.040734" rpy="0 0.34907 0"/>
			<parent link="${prefix}ring_distal_Link"/>
			<child link="${prefix}ring_tip_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="1" upper="1" effort="1" velocity="1"/>
			</xacro:unless>
		</joint>

		<!-- ========================================== -->
		<!-- 小指部分 (Pinky Finger) -->
		<!-- ========================================== -->
		<link name="${prefix}pinky_proximal_Link">
			<inertial>
				<origin xyz="-0.00213266608574047 -7.02260316783054E-06 0.0160680350593264"/>
				<mass value="0.009"/>
				<inertia
						ixx="1.97554078210582E-07"
						ixy="-1.34133676966608E-11"
						ixz="-4.58601823842206E-09"
						iyy="1.82022483454667E-07"
						iyz="-1.01838144940489E-10"
						izz="8.21758160050774E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/pinky_proximal.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find brainco_description)/meshes/revo2/pinky_proximal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}pinky_proximal_joint" type="${joint_type}">
			<origin xyz="-0.0023733 ${direction*0.029356} 0.078694"
				  rpy="${direction*-0.11815} 0.14491 ${direction*-0.17392}"/>
			<parent link="${prefix}hand_base"/>
			<child link="${prefix}pinky_proximal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.4661" effort="2" velocity="2.2685"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}pinky_distal_Link">
			<inertial>
				<origin
						xyz="0.0039856213046876 -8.08551930131518E-08 0.014106664402408"
						/>
				<mass
						value="0.009"/>
				<inertia
						ixx="2.88250623683654E-07"
						ixy="-1.42865648587319E-12"
						ixz="-7.78112273929214E-08"
						iyy="3.10833114148178E-07"
						iyz="1.51641220465817E-13"
						izz="9.12872269672051E-08"/>
			</inertial>
			<visual>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/pinky_distal.obj"/>
				</geometry>
				<material
						name="">
					<color
							rgba="1 1 1 1"/>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh
							filename="file://$(find brainco_description)/meshes/revo2/pinky_distal.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="${prefix}pinky_distal_joint" type="${joint_type}">
			<origin xyz="0 0 0.029"/>
			<parent link="${prefix}pinky_proximal_Link"/>
			<child link="${prefix}pinky_distal_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="0" upper="1.693" effort="2" velocity="2.2685"/>
				<mimic joint="${prefix}pinky_proximal_joint" multiplier="1.155" offset="0"/>
			</xacro:unless>
		</joint>

		<link name="${prefix}pinky_tip_Link">
			<inertial>
				<origin
						xyz="2.63677968348475E-16 -4.09394740330526E-16 5.55111512312578E-17"
						/>
				<mass
						value="0.001"/>
				<inertia
						ixx="1.63624617374468E-15"
						ixy="1.23259516440783E-32"
						ixz="0"
						iyy="1.63624617374468E-15"
						iyz="-2.46519032881566E-32"
						izz="1.63624617374468E-15"/>
			</inertial>
		</link>

		<joint name="${prefix}pinky_tip_joint" type="${joint_type}">
			<origin xyz="0.010221 0 0.032918" rpy="0 0.4756 0"/>
			<parent link="${prefix}pinky_distal_Link"/>
			<child link="${prefix}pinky_tip_Link"/>
			<xacro:unless value="${fixed_joints}">
				<axis xyz="0 1 0"/>
				<limit lower="1" upper="1" effort="1" velocity="1"/>
			</xacro:unless>
		</joint>

	</xacro:macro>

</robot>
