<?xml version="1.0"?>

<robot name="A1 Single" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:include filename="$(find galaxea_a1_description)/xacro/robot.xacro"/>
  <xacro:include filename="$(find galaxea_a1_description)/xacro/ros2_control/interfaces.xacro"/>

  <ros2_control name="galaxea_a1_system" type="system">
    <hardware>
      <xacro:if value="${'$(arg ros2_control_hardware_type)' == 'gz'}">
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </xacro:if>
      <xacro:if value="${'$(arg ros2_control_hardware_type)' == 'mock_components'}">
        <plugin>mock_components/GenericSystem</plugin>
      </xacro:if>
      <xacro:if value="${'$(arg ros2_control_hardware_type)' == 'isaac'}">
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">/isaac/joint_command</param>
        <param name="joint_states_topic">/isaac/joint_states</param>
      </xacro:if>
    </hardware>

    <xacro:galaxea_a1_interfaces name=""/>
  </ros2_control>

  <xacro:arg name="gazebo" default="false" />
  <xacro:if value="$(arg gazebo)">
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <xacro:if value="${'$(arg type)' == 'a1'}">
          <parameters>$(find galaxea_a1_description)/config/ros2_control/ros2_controllers.yaml</parameters>
        </xacro:if>
        <xacro:if value="${'$(arg type)' == 'x'}">
          <parameters>$(find galaxea_a1_description)/config/ros2_control/x.yaml</parameters>
        </xacro:if>
        <xacro:if value="${'$(arg type)' == 'y'}">
          <parameters>$(find galaxea_a1_description)/config/ros2_control/y.yaml</parameters>
        </xacro:if>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
