<?xml version="1.0"?>

<robot name="Inspire_$(arg type)" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:arg name="type" default="EG2-4C2"/>

  <!-- 根据type参数决定使用哪种夹爪 -->
  <xacro:if value="${'$(arg type)' == 'EG2-4C2'}">
    <xacro:include filename="$(find inspire_description)/xacro/EG2-4C2.xacro"/>
    <xacro:Gripper name=""/>
  </xacro:if>
</robot>
