<?xml version="1.0"?>

<robot name="SO-Arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Materials -->
  <material name="3d_printed">
    <color rgba="0.4 0.8196 0.945 1.0"/>
  </material>
  <material name="sts3215">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <xacro:arg name="type" default="so101"/>
  
  <!-- 根据type参数决定is_master的值 -->
  <xacro:if value="${'$(arg type)' == 'so101'}">
    <xacro:include filename="$(find so_arm_description)/xacro/so101.xacro"/>
  </xacro:if>
  <xacro:if value="${'$(arg type)' == 'so100'}">
    <xacro:include filename="$(find so_arm_description)/xacro/so100.xacro"/>
  </xacro:if>

  <xacro:Arm name=""/>
</robot>
