<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="UnitreeG1Hand" params="name direction:=1">
		<!-- 
		Unitree G1 Hand Macro
		Parameters:
		- name: hand name prefix (e.g., "left", "right")
		- direction: 1 for left hand, -1 for right hand (for mirroring)
		-->

		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<!-- Hand Link -->
		<link name="${prefix}hand_base">
			<inertial>
				<origin xyz="0.05361310808 ${direction*-0.00295905240} 0.00215413091"/>
				<mass value="0.170"/>
				<inertia ixx="0.00010099485234748" ixy="${direction*0.00003618590790516}" 
					ixz="-0.00000074301518642" iyy="0.00028135871571621" 
					iyz="${direction*-0.00000330189743286}" izz="0.00021894770413514"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find unitree_g1_description)/meshes/arm/hand.obj" scale="1 ${direction} 1"/>
				</geometry>
			</visual>
		</link>

	</xacro:macro>

</robot>
