<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |    Complete Robot Description for Agibot G1                                     | -->
<!-- |    This file includes the base robot structure and both arms                    | -->
<!-- =================================================================================== -->
<robot name="genie" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Include the base robot structure -->
	<xacro:include filename="$(find agibot_g1_description)/xacro/g1_base.xacro"/>

	<!-- Include arm macro -->
	<xacro:include filename="$(find agibot_g1_description)/xacro/g1_arm.xacro"/>

	<!-- Generate left and right arms using macro -->
	<xacro:G1Arm name="left"/>
	<xacro:G1Arm name="right" direction="-1"/>

	<!-- Include gripper -->
	<xacro:include filename="$(find changingtek_description)/xacro/AG2F120S.xacro"/>
	<xacro:AG2F120S name="left"/>
	<xacro:AG2F120S name="right"/>

	<!-- Arm base links -->
	<link name="arm_base"/>

	<!-- Arm base joints -->
	<joint name="arm_base_joint" type="fixed">
		<parent link="body_link2"/>
		<child link="arm_base"/>
		<origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.305 0.0"/>
	</joint>

	<joint name="left_base_joint" type="fixed">
		<parent link="arm_base"/>
		<child link="left_base_link"/>
		<origin rpy="-1.5707963267948966 0.0 0.0" xyz="0.0 0.025 0.0"/>
	</joint>

	<joint name="right_base_joint" type="fixed">
		<parent link="arm_base"/>
		<child link="right_base_link"/>
		<origin rpy="-1.5707963267948966 0.0 3.141592653589793" xyz="0.0 -0.025 0.0"/>
	</joint>

	<!-- Gripper joints -->
	<joint name="ee_left_joint" type="fixed">
		<parent link="left_end_link"/>
		<child link="left_gripper_base"/>
	</joint>

	<joint name="ee_right_joint" type="fixed">
		<parent link="right_end_link"/>
		<child link="right_gripper_base"/>
	</joint>

</robot>
