# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 1000  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    ocs2_arm_controller:
      type: ocs2_arm_controller/Ocs2ArmController


arm_controller:
  ros__parameters:
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6

ocs2_arm_controller:
  ros__parameters:
    # Joint configuration
    update_rate: 1000  # Hz
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
      - joint7

    command_interfaces:
      - position
    state_interfaces:
      - position

    robot_name: rokae_ar5

    # Future time offset for trajectory prediction (in seconds)
    future_time_offset: 2.0

    # Control parameters
    home_pos: [1.9278, 1.347, -1.5708, 1.215, 0.0, 0.693, -0.187]
    rest_pos: [1.5708, 1.5708, -1.5708, 0.0, 0.0, 0.0, 0.0,]