<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="MobileBase">
    <link name="base_link"/>
    <joint name="base_joint" type="fixed">
      <origin rpy="0 0 3.14159"/>
      <parent link="base_link"/>
      <child link="base"/>
    </joint>

    <link name="base">
      <inertial>
        <origin xyz="0.015300075250394498 -0.0039712791148939055 0.21685783167580347"/>
        <mass value="67.7696558151508"/>
        <inertia ixx="7.900786" ixy="-0.021075" ixz="0.25289" iyy="8.068966" iyz="0.12408" izz="2.254894"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find arx_lift_description)/meshes/base_link.obj"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find arx_lift_description)/meshes/base_link.obj"/>
        </geometry>
      </collision>
    </link>
    <link name="wheel_1">
      <inertial>
        <origin xyz="-0.0013052205916280202 0.0022598671755268973 1.318970376112949e-07"/>
        <mass value="4.24803000494366"/>
        <inertia ixx="0.008031" ixy="-0.002428" ixz="0.0" iyy="0.010834" iyz="0.0" izz="0.006629"/>
      </inertial>
    </link>
    <link name="wheel_2">
      <inertial>
        <origin xyz="-0.0013052205916208315 -0.0022598671755325594 -1.318970357273852e-07"/>
        <mass value="4.24803000494366"/>
        <inertia ixx="0.008031" ixy="0.002428" ixz="-0.0" iyy="0.010834" iyz="0.0" izz="0.006629"/>
      </inertial>
    </link>
    <link name="wheel_3">
      <inertial>
        <origin xyz="0.0026089441594678298 -1.3189703553351252e-07 2.8695680726054107e-07"/>
        <mass value="4.24803000494366"/>
        <inertia ixx="0.012235" ixy="-0.0" ixz="0.0" iyy="0.006629" iyz="0.0" izz="0.006629"/>
      </inertial>
    </link>

    <joint name="joint_wheel1" type="fixed">
      <origin xyz="-0.182349 0.315838 0.03"/>
      <parent link="base"/>
      <child link="wheel_1"/>
    </joint>
    <joint name="joint_wheel2" type="fixed">
      <origin xyz="-0.182349 -0.315838 0.03"/>
      <parent link="base"/>
      <child link="wheel_2"/>
      <axis xyz="-0.5 -0.866025 0.0"/>
    </joint>
    <joint name="joint_wheel3" type="fixed">
      <origin xyz="0.364699 0.0 0.03"/>
      <parent link="base"/>
      <child link="wheel_3"/>
      <axis xyz="1.0 0.0 -0.0"/>
    </joint>
  </xacro:macro>
</robot>