<?xml version="1.0" ?>
<robot name="arx_lift" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="type" default="x5"/>

  <!-- 根据type参数包含不同的机械臂描述文件 -->
  <xacro:if value="${'$(arg type)' == 'x5'}">
    <xacro:include filename="$(find arx5_description)/xacro/X5.xacro"/>
    <!-- 使用R5宏来创建两个机械臂 -->
    <xacro:X5 name="left"/>
    <xacro:X5 name="right"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'r5'}">
    <xacro:include filename="$(find arx5_description)/xacro/R5.xacro"/>
    <!-- 使用R5宏来创建两个机械臂 -->
    <xacro:R5 name="left"/>
    <xacro:R5 name="right"/>
  </xacro:if>

  <xacro:include filename="$(find arx_lift_description)/xacro/mobile_base.xacro"/>
  <xacro:include filename="$(find arx_lift_description)/xacro/body.xacro"/>

  <xacro:MobileBase/>
  <xacro:Body/>

  <joint name="arm_left_fixed" type="fixed">
    <parent link="lift_link"/>
    <child link="left_base_link"/>
    <origin rpy="0 0 3.1415926" xyz="-0.208 -0.25000 0.092"/>
  </joint>
  <joint name="arm_right_fixed" type="fixed">
    <parent link="lift_link"/>
    <child link="right_base_link"/>
    <origin rpy="0 0 3.1415926" xyz="-0.208 0.25000 0.092"/>
  </joint>
</robot>
