<?xml version="1.0"?>
<robot name="ChangingTek_$(arg type)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="type" default="AG2F90-C"/>

  <!-- 根据type参数决定使用哪种夹爪 -->
  <xacro:if value="${'$(arg type)' == 'AG2F90-C'}">
    <xacro:include filename="$(find changingtek_description)/xacro/AG2F90-C.xacro"/>
    <xacro:AG2F90-C name=""/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'AG2F90-C-Soft'}">
    <xacro:include filename="$(find changingtek_description)/xacro/AG2F90-C.xacro"/>
    <xacro:AG2F90-C name="" pad="soft"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'AG2F120S'}">
    <xacro:include filename="$(find changingtek_description)/xacro/AG2F120S.xacro"/>
    <xacro:AG2F120S name=""/>
  </xacro:if>


</robot>
