<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |    Complete Robot Description for Astribot S1                                   | -->
<!-- |    This file includes the base robot structure (chassis, torso, head) and arms  | -->
<!-- =================================================================================== -->
<robot name="astribot_whole_body" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Include the base robot structure (chassis, torso and head) -->
	<xacro:include filename="$(find astribot_s1_description)/xacro/base.xacro"/>

	<!-- Include the arm macro -->
	<xacro:include filename="$(find astribot_s1_description)/xacro/s1_arm.xacro"/>


	<!-- =================================================================================== -->
	<!-- Generate Left and Right Arms Using Macro                                          -->
	<!-- =================================================================================== -->
	<xacro:S1Arm name="left"/>
	<xacro:S1Arm name="right" direction="-1"/>

	<!-- =================================================================================== -->
	<!-- Arms Connection to Torso                                                          -->
	<!-- =================================================================================== -->
	<joint name="left_base_fixed_joint" type="fixed">
		<parent link="torso_end_effector"/>
		<child link="left_base_link"/>
		<origin rpy="0 -1.22173 -1.5707963" xyz="0 0.06449 0.02348"/>
	</joint>

	<joint name="right_base_fixed_joint" type="fixed">
		<parent link="torso_end_effector"/>
		<child link="right_base_link"/>
		<origin rpy="0 -1.22173 1.5707963" xyz="0 -0.06449 0.02348"/>
	</joint>


	<xacro:arg name="type" default="gripper"/>
	<xacro:if value="${'$(arg type)' == 'gripper'}">
		<xacro:include filename="$(find astribot_s1_description)/xacro/s1_gripper.xacro"/>
		<xacro:Gripper name="left"/>
		<xacro:Gripper name="right"/>

		<joint name="left_gripper_fixed_joint" type="fixed">
			<origin xyz="0 -0.045 0" rpy="1.5708 0 0"/>
			<parent link="left_link_7"/>
			<child link="left_gripper_base"/>
		</joint>

		<joint name="right_gripper_fixed_joint" type="fixed">
			<origin xyz="0 -0.045 0" rpy="1.5708 0 0"/>
			<parent link="right_link_7"/>
			<child link="right_gripper_base"/>
		</joint>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'revo2'}">
		<xacro:include filename="$(find brainco_description)/xacro/revo2.xacro"/>
		<xacro:BrainCoHand name="left" direction="1" fixed_joints="true"/>
		<xacro:BrainCoHand name="right" direction="-1" fixed_joints="true"/>

		<joint name="left_gripper_fixed_joint" type="fixed">
			<origin xyz="0 -0.048 0" rpy="1.5708 3.1416 0"/>
			<parent link="left_link_7"/>
			<child link="left_hand_base"/>
		</joint>

		<joint name="right_gripper_fixed_joint" type="fixed">
			<origin xyz="0 -0.048 0" rpy="1.5708 0 0"/>
			<parent link="right_link_7"/>
			<child link="right_hand_base"/>
		</joint>
	</xacro:if>
</robot>
