<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="cr5_interfaces" params="name">

    <xacro:property name="prefix" value="${name + '_' if name else ''}"/>

    <!-- 关节接口定义 -->
      <joint name="${prefix}joint1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}joint2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}joint3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.5708</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}joint4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}joint5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">1.5708</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="${prefix}joint6">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

  </xacro:macro>
</robot>