<?xml version="1.0"?>
<robot name="openarm_v10" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="ros2_control_hardware_type" default="mock_components"/>

	<link name="world"/>

	<joint name="world_fixed" type="fixed">
		<parent link="world"/>
		<child link="base_link"/>
	</joint>

	<xacro:arg name="type" default="bimanual"/>


	<!-- 直接include robot.xacro并根据type参数传递 -->
	<xacro:include filename="$(find openarm_description)/xacro/robot.xacro"/>

	<xacro:include filename="$(find openarm_description)/xacro/ros2_control/interfaces.xacro"/>
	<ros2_control name="openarm_$(arg type)_system" type="system">
		<hardware>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'gz'}">
				<plugin>gz_ros2_control/GazeboSimSystem</plugin>
			</xacro:if>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'mock_components'}">
				<plugin>mock_components/GenericSystem</plugin>
			</xacro:if>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'isaac'}">
				<plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
				<param name="joint_commands_topic">/isaac/joint_command</param>
				<param name="joint_states_topic">/isaac/joint_states</param>
				<param name="sum_wrapped_joint_states">false</param>
				<param name="initialize_commands_from_state">true</param>
			</xacro:if>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'real'}">
				<plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
				<param name="joint_commands_topic">/joint_command_robot</param>
				<param name="joint_states_topic">/joint_states_robot</param>
				<param name="sum_wrapped_joint_states">false</param>
				<param name="initialize_commands_from_state">true</param>
			</xacro:if>
		</hardware>

		<xacro:if value="${'$(arg type)' == 'bimanual'}">
			<!-- Left Arm Joints -->
			<xacro:openarm_interfaces name="left"/>
			<!-- Right Arm Joints -->
			<xacro:openarm_interfaces name="right"/>
		</xacro:if>

		<xacro:if value="${'$(arg type)' == 'left' or '$(arg type)' == 'right'}">
			<xacro:openarm_interfaces name=""/>
		</xacro:if>

	</ros2_control>

	<!-- Gazebo plugin configuration -->
	<xacro:arg name="gazebo" default="false"/>
	<xacro:if value="$(arg gazebo)">
		<gazebo>
			<plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
				<xacro:if value="${'$(arg type)' == 'bimanual'}">
					<parameters>$(find openarm_description)/config/ros2_control/ros2_controllers.yaml</parameters>
				</xacro:if>
				<xacro:if value="${'$(arg type)' == 'left'}">
					<parameters>$(find openarm_description)/config/ros2_control/left.yaml</parameters>
				</xacro:if>
				<xacro:if value="${'$(arg type)' == 'right'}">
					<parameters>$(find openarm_description)/config/ros2_control/right.yaml</parameters>
				</xacro:if>
			</plugin>
		</gazebo>
	</xacro:if>
</robot>
