<?xml version="1.0"?>

<robot name="Galaxea A1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="type" default="a1"/>
  
  <!-- 根据type参数决定is_master的值 -->
  <xacro:if value="${'$(arg type)' == 'a1'}">
    <xacro:include filename="$(find galaxea_a1_description)/xacro/a1.xacro"/>
    <xacro:Arm name=""/>
  </xacro:if>
  <xacro:if value="${'$(arg type)' == 'x'}">
    <xacro:include filename="$(find galaxea_a1_description)/xacro/a1_x.xacro"/>
    <xacro:Arm name=""/>
  </xacro:if>
  <xacro:if value="${'$(arg type)' == 'y'}">
    <xacro:include filename="$(find galaxea_a1_description)/xacro/a1_y.xacro"/>
    <xacro:Arm name=""/>
  </xacro:if>
</robot>
