<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<gazebo reference="camera">
		<sensor name="camera" type="camera">
			<camera>
				<horizontal_fov>1.047198</horizontal_fov>
				<image>
					<width>1280</width>
					<height>720</height>
				</image>
				<clip>
					<near>0.05</near>
					<far>15</far>
				</clip>
				<noise>
					<type>gaussian</type>
					<mean>0.0</mean>
					<stddev>0.007</stddev>
				</noise>
				<optical_frame_id>camera</optical_frame_id>
				<camera_info_topic>camera/camera_info</camera_info_topic>
			</camera>
			<always_on>true</always_on>
			<update_rate>15</update_rate>
			<visualize>true</visualize>
			<topic>camera/image</topic>
		</sensor>
	</gazebo>
</robot>
